.operand {
    min-width: 50px;
    display: inline-block;
    box-shadow: inset 0px 0px 0px 2px #032C2E;
    text-align: center;
    border-radius: 10px;
}

.operator {
    display: inline-block;
    width: 10px;
}

.result {
    display: inline-block;
    width: 50px;
    box-shadow: inset 0px 0px 0px 2px #032C2E;
    text-align: center;
    border-radius: 10px;
    border: none; 
}

.container {
    width: 16%;
    margin: 15% 10%;
    transform: scale(2);
    transform-origin: 0 0;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    min-width: 160px;
    min-height: 60px;
}
body {
    text-align: center;
    background-image: url("../images/background.jpg");
    background-size: cover;
}
div {
    margin: 10px;
}

.button {
    border-radius: 3px;
    border: none;
}

#statistics-info {
  font-size: 10px;
  display: none;
  margin: 0px;
}

#statistics-container {
  min-height: 30px;
  margin: 0px;
}